<!--
logo on the left
three links on the right in their own div:
signup/login
browse
list
-->
<div class="navbar-lewagon">
  <div>
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    </a>
  </div>
  <div>
    <a href="#">SIGNUP/LOGIN</a>
    <a href="#">BROWSE</a>
    <a href="#">LIST YOUR RENTAL</a>
  </div>
</div>

<!--unused navbar.scss
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}-->
