<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dropinblog.net/34246798/files/featured/Home_Interior__Budget_Friendly_Once_for_Every_Homeowner.png);">
  <div class="container">
    <h1>airbnb-lite: the simple airbnb app for a streamlined booking experience</h1>
  </div>
</div>

<div class="container">
  <button type="button" class="btn btn-success">Enter</button>
</div>