<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="card-container background-taupe">
  <div class="container" style="height:350px; width:350px;">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-row1">
            <div class="card-product card-round-transparent">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-row2">
            <div class="card-product card-round-transparent">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-row3">
            <div class="card-product card-round-transparent">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
