<div class="banner banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dropinblog.net/34246798/files/featured/Home_Interior__Budget_Friendly_Once_for_Every_Homeowner.png); ">
  <div class="container banner-container">
    <div>
      <h1>Unique stays. Memorable moments</h1>
      <hr class="text-white">
      <%= link_to 'Explore', listings_path, class: "btn btn-success"%>
    </div>
  </div>
</div>
