.cards-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 4px;
}

.cards-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cards-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards-product .card-product-infos {
  padding: 16px;
}


.card-listing-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 25px;
  padding-bottom: 5px;
  height: 400px;
}

.card-listing-cloudinary-image {
  height: 250px;
  width: 100%;
  object-fit: cover;

}

.card-listing-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-listing-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-listing-index-infos {
  padding: 16px;
}


.padding-space-40 {
  display: flex;
  flex-direction: column;    /* stack child divs vertically */
  align-items: center;       /* center horizontally */
  text-align: justify;
  padding: 10px 40px;
  width: 399px;
   h4, h6 {
    text-align: center;
  }
}

.card-round-transparent {
  border-radius: 20px;
  opacity: 0.7;
}

.padding-space-10 {
  background-color: rgb(223, 242, 236);
  padding: 10px 10px;
  box-shadow: 0 4px 12px rgba(79,119,25, 0.537);
  h5 {
    text-align: center;
  }
}

.form-large-taupe {
  border-radius: 10px;
  margin: 40px;
  background-color: rgb(223, 242, 236);
  padding: 20px 40px;
  box-shadow: 0 4px 12px rgba(79,119,25, 0.537);
  color: rgb(52, 49, 40);
  h1 {
    text-align: center;
    color: rgb(74, 74, 74);
  }
}

.large-form {
  display: flex;
  flex-direction: column;    /* stack child divs vertically */
  align-items: center;       /* center horizontally */
  justify-content: center;
  padding: 10px 40px;
  width: 90vw;
   h4, h6 {
    text-align: center;
  }
}

.background-taupe {
  background-color: rgb;
}

.button-border {
  text-align: center;
  border-color: darkgray;
}
