.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 10px 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 70px;
}

a {
  padding: 4px 4px;
  text-decoration: none;
  color: rgb(43, 42, 42);
  &:hover {
    color: rgb(2, 134, 119) !important;
  }
}

.explore-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 16px;
  padding-top: 17px;
}

.section-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #333;
  padding-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
