.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 10px 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  padding: 4px 4px;
  text-decoration: none;
  color: rgb(43, 42, 42);
  &:hover {
    color: rgb(2, 134, 119) !important;
  }
}
