.price-card {
    border-color: rgb(68, 68, 68);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.show-container {
  padding: 40px 30px;
}
