// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Adding utility classes

.w-60 {
  width: 60%;
  padding: 10px 10px;
}

#shadow-card {
  box-shadow: rgba(0, 0, 0, 0.125);
}

.padding-space-40 {
  padding: 40px 40px;
}

.padding-space-10 {
  padding: 10px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  h5 {
    background-color: rgb(150, 150, 150);
    color: white;
    text-align: center;
  }
}
